Repository Mentor-Cycle/mentor-cycle-be: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
    "*.{js,ts}": "eslint --cache --fix",
    "*.{js,css,mdx,ts,tsx,jsx}": "prettier --write"
}

fix: unremoving yarn.lock
  yarn.lock
Due: none

feat: fixing tests
  jest.config.json
  src/modules/user/user.resolver.spec.ts
  src/modules/user/user.service.spec.ts
  src/modules/user/user.service.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

feat: add cookies
  package.json
  schema.gql
  src/app.module.ts
  src/common/auth/auth.guard.ts
  src/main.ts
  src/modules/event/event.resolver.ts
  src/modules/user/user.resolver.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat(authentication): add guardian and cookies
  package.json
  schema.gql
  src/app.module.ts
  src/common/auth/auth.guard.ts
  src/common/auth/auth.module.ts
  src/modules/availability/availability.module.ts
  src/modules/availability/availability.resolver.ts
  src/modules/event/event.module.ts
  src/modules/user/dto/sign-in-user.dto.ts
  src/modules/user/user.resolver.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat(auth): add jwt expires validation
  src/app.module.ts
  src/common/auth/auth.guard.ts
  src/modules/authentication/authentication.module.ts
  src/modules/user/user.resolver.ts
  src/modules/user/user.service.ts
Due: eslint --cache --fix, prettier --write

refactor(test): cover expires
  src/modules/authentication/strategies/google.strategy.ts
  src/modules/authentication/strategies/linkedin.strategy.ts
  src/modules/user/user.service.spec.ts
  src/modules/user/user.service.ts
Due: eslint --cache --fix, prettier --write

feat: add find mentors
  schema.gql
  src/modules/user/dto/find-mentor.dto.ts
  src/modules/user/user.repository.ts
  src/modules/user/user.resolver.ts
  src/modules/user/user.service.ts
Due: eslint --cache --fix, prettier --write

refactor: add context
  package.json
  schema.gql
  src/app.module.ts
  src/common/auth/auth.guard.ts
  src/main.ts
  src/modules/event/event.resolver.ts
  src/modules/user/user.resolver.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

refactor: solve conflicts
  schema.gql
  src/modules/user/dto/find-mentor.dto.ts
  src/modules/user/user.repository.ts
  src/modules/user/user.resolver.ts
  src/modules/user/user.service.ts
Due: eslint --cache --fix, prettier --write

fix(user): merge conflicts
  schema.gql
  src/modules/user/user.repository.ts
  src/modules/user/user.resolver.ts
  src/modules/user/user.service.spec.ts
  src/modules/user/user.service.ts
Due: eslint --cache --fix, prettier --write

fix(user.service): remove duplicated identifier
  src/modules/user/user.service.ts
Due: eslint --cache --fix, prettier --write

feat(skills): add prisma schema
  prisma/migrations/20230323194044_create_skills/migration.sql
  prisma/schema.prisma
  schema.gql
Due: none

feat(skills): add respsitory
  src/modules/skill/skill.repository.ts
Due: eslint --cache --fix, prettier --write

feat(skills): add service
  src/modules/skill/skill.service.ts
Due: eslint --cache --fix, prettier --write

test(skills): add service
  src/modules/skill/skill.service.spec.ts
Due: eslint --cache --fix, prettier --write

feat(skills): add resolver
  src/modules/skill/skill.resolver.ts
Due: eslint --cache --fix, prettier --write

test(skills): add resolver
  src/modules/skill/skill.resolver.spec.ts
Due: eslint --cache --fix, prettier --write

feat(skills): add modules
  src/app.module.ts
  src/modules/skill/skill.module.ts
Due: eslint --cache --fix, prettier --write

feat(skills): add DTO's
  src/modules/skill/dto/create-skill.input.ts
  src/modules/skill/dto/update-skill.input.ts
Due: eslint --cache --fix, prettier --write

feat(skills): add entities
  src/modules/skill/entities/skill.entity.ts
Due: eslint --cache --fix, prettier --write

feat(wip): event google creation
  package.json
  schema.gql
  src/modules/event/event.module.ts
  src/modules/event/event.resolver.ts
  src/modules/user/user.service.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat(jitsi-meet): add voice call link creation
  prisma/migrations/20230331220447_create_meeting_link_column/migration.sql
  prisma/schema.prisma
  schema.gql
  src/common/config/constants.ts
  src/modules/event/entities/event.entity.ts
  src/modules/event/event.resolver.ts
  src/modules/event/event.service.ts
Due: eslint --cache --fix, prettier --write

refactor(package.lock): remove unused google libs
  package.json
Due: none

refactor(event.module): remove comments
  src/modules/event/event.module.ts
Due: eslint --cache --fix, prettier --write

refactor(package.json): remove unused libs
  package.json
  yarn.lock
Due: none

refactor(event.resolver): remove unused import
  src/modules/event/event.resolver.ts
Due: eslint --cache --fix, prettier --write

fix(user): merge conflicts
  schema.gql
  src/common/utils/cookies.ts
  src/common/utils/expires.ts
  src/common/utils/index.ts
  src/modules/user/types.ts
  src/modules/user/user.resolver.ts
  src/modules/user/user.service.spec.ts
  src/modules/user/user.service.ts
Due: eslint --cache --fix, prettier --write

feat: images
  .gitignore
  emails/index.tsx
  emails/reset-password.tsx
  emails/static/instagram.png
  emails/static/lines.png
  emails/static/linkedin.png
  emails/static/logo.png
  emails/static/smile.png
  emails/static/youtube.png
  jest.config.json
  package.json
  schema.gql
  src/common/types/mail.type.ts
  src/modules/user/user.resolver.ts
  src/modules/user/user.service.ts
  src/providers/mails.ts
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

refactor(wip): temporary remove tests
  .github/workflows/node.js.yml
  jest.config.json
Due: none

refactor: change git url
  emails/reset-password.tsx
Due: prettier --write

refactor: change file extension
  emails/reset-password.tsx
Due: prettier --write

refactor(workflows): add jest
  .github/workflows/node.js.yml
  jest.config.json
Due: none

refactor: change base url
  emails/reset-password.tsx
  nest-cli.json
  src/app.module.ts
  src/modules/static-files-controller/static-files-controller.controller.spec.ts
  src/modules/static-files-controller/static-files-controller.controller.ts
  src/modules/user/user.service.ts
Due: eslint --cache --fix, prettier --write

test(fix): change import name
  src/modules/static-files-controller/static-files-controller.controller.spec.ts
Due: eslint --cache --fix, prettier --write

fix: add correct controller name
  src/modules/static-files-controller/static-files-controller.controller.ts
Due: eslint --cache --fix, prettier --write

feat: add password redirect url
  emails/reset-password.tsx
  src/modules/user/user.service.ts
Due: eslint --cache --fix, prettier --write

refactor: remove email sent when password change
  src/main.ts
  src/modules/user/user.service.ts
Due: eslint --cache --fix, prettier --write

feat: add guardian
  src/modules/availability/availability.resolver.ts
  src/modules/event/event.resolver.ts
  src/modules/skill/skill.module.ts
  src/modules/skill/skill.resolver.ts
  src/modules/user/user.resolver.ts
Due: eslint --cache --fix, prettier --write
